<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>
</head>

<body>
    <h1>Here's your chosen song</h1>

    Name: <%=songFound.name%>
        <br>
        Musician: <%=songFound.musician%>
            <br>
            ID: <%=songFound.id%>
                <br>
                Likes: <%=songFound.likes%>
                    <br>
                    <a href="/songs/edit/<%=song.id%>">Edit</a>
                    <br>


</body>

</html>